.login-logo {
    color: whitesmoke;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}
.example-card {
    width: 15em;
    margin: 10% auto;
}
.mat-card-title{
    font-size: 1.8em;
}
.mat-form-field {
    width: 100%;
}