<form #form="ngForm" (ngSubmit)="login()" novalidate>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><b>Tati</b>Hair</mat-card-title>
    </mat-card-header>
    <br/>
    <p>Entre com usuário e senha.</p>

    <mat-card-content>
        <mat-form-field>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput type="email"
                      [(ngModel)]="user.email"
                      name="email"
                      class="form-control"
                      id="inputEmail"
                      placeholder="Email"
                      #email="ngModel"
                      email required>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-icon matPrefix>enhanced_encryption</mat-icon>
          <input matInput placeholder="Senha"
                [(ngModel)]="user.password"
                [type]="hide ? 'password' : 'text'"
                name="password"
                id="inputPassword"
                #name="ngModel"
                required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end">
      <button mat-raised-button type="button" (click)="cancelLogin()">Cancelar</button>
      <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Entrar</button>
    </mat-card-actions>
  </mat-card>
</form>
