<h3 mat-dialog-title>{{message}}</h3>
<!-- <mat-dialog-content>{{message}}</mat-dialog-content> -->
<mat-dialog-actions fxLayout="row" fxLayoutAlign="flex-end">
  <button mat-raised-button color="primary" mat-dialog-close>Não</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button color="warn" [mat-dialog-close]="true">Sim</button>
</mat-dialog-actions>
