<mat-grid-list cols=1 rowHeight="560px">
  <mat-grid-tile>
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <h2>Relatório Geral</h2>
          <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu> -->
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-graphic></app-graphic>
      </mat-card-content>
      <mat-card-footer>
        <!-- <p>Entrada: R$ 100.000,00  Saída: R$ 50.000,00</p> -->
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="dashboard-card" [style.overflow]="'auto'" [style.height.px]="'482'">
      <mat-card-header>
        <mat-card-title>
          <h2>Clientes</h2>
          <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu> -->
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-customer-table [simplified]="true"></app-customer-table>
      </mat-card-content>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
