/* Structure */
/* table {
    width: 100%;
} */
.example-header {
    width: 100%;
    text-align: left;
}
.right {
    position: absolute;
    right: 0px;
    padding: 10px;
}

.outer {
    padding: 0.5em;
}

body {
    font-family: 'Covered By Your Grace', cursive;
    line-height: 1.25;
}

.fill {
    width: 0.5em;
}

.actions {
    display:flex !important;
    justify-content:flex-end!important;
}
  
@media screen and (max-width: 960px) {
    .mat-table {
      border: 0;
      vertical-align: middle;
    }
  
    .mat-table caption {
      font-size: 1em;
    }
    
    /*  Enable this to hide header*/
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
      /* height: 280px; */
      /* border: 2px solid red; */
    }
    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height:30px;
      margin-bottom: 4%;
      padding-right: 2.0em;
      padding-left: 2.0em;
      /* border: 2px solid green; */
    }
    .mat-table .mat-cell:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
}