<div class="outer">
  <div class="example-header">
    <mat-form-field [style.width]='filterFieldWidth'>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busca">
    </mat-form-field>
    <span [hidden]="simplified" class="right"><button mat-raised-button color="primary" (click)="create()">Novo Cliente</button></span>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Nome"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- Reputation Column -->
      <ng-container matColumnDef="reputation">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reputação </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Reputação"> {{row.reputation}} </mat-cell>
      </ng-container>

      <!-- Mobile Column -->
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Celular </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Celular"> {{row.telephone[0] | customer: 'tel'}} </mat-cell>
      </ng-container>

      <!-- Details Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="actions" *matCellDef="let row" data-label="">
          <button mat-raised-button color="primary" (click)="details(row)">Detalhes</button>
          <span class="fill"></span>
          <button mat-raised-button color="warn" (click)="delete(row)">Deletar</button> 
        </mat-cell>
      </ng-container> 

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="sizeOpt" showFirstLastButtons></mat-paginator>
  </div>
</div>
