<mat-dialog-content>
  <form class="form-vertical" #form="ngForm">
    <mat-form-field class="example-full-width">
      <mat-icon matPrefix>person</mat-icon>
      <input
        matInput
        type="text"
        [(ngModel)]="customer.name"
        name="name"
        class="form-control"
        id="inputName"
        placeholder="Nome"
        #name="ngModel"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>star</mat-icon>
      <mat-select
        placeholder="Reputação"
        [(ngModel)]="customer.reputation"
        class="form-control select2"
        name="reputation"
        id="inputReputation"
        #reputation="ngModel"
        style="width: 100%;"
        required
      >
        <mat-option value="Boa">Boa</mat-option>
        <mat-option value="Média">Média</mat-option>
        <mat-option value="Ruim">Ruim</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>supervisor_account</mat-icon>
      <mat-select
        placeholder="Sexo"
        [(ngModel)]="customer.gender"
        class="form-control select2"
        name="gender"
        id="inputGender"
        #gender="ngModel"
        style="width: 100%;"
        required
      >
        <mat-option value="Masculino">Masculino</mat-option>
        <mat-option value="Feminino">Feminino</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half">
      <mat-icon matPrefix>smartphone</mat-icon>
      <input
        matInput
        [(ngModel)]="customer.telephone[0]"
        name="mobile"
        class="form-control"
        id="inputMobile"
        type="text"
        placeholder="Celular"
        #mobile="ngModel"
        required
      />
    </mat-form-field>

    <mat-form-field class="half">
      <mat-icon matPrefix>local_phone</mat-icon>
      <input
        matInput
        [(ngModel)]="customer.telephone[1]"
        name="telephone"
        class="form-control"
        id="inputTelephone"
        type="text"
        placeholder="Telefone"
        #telephone="ngModel"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>email</mat-icon>
      <input
        matInput
        [(ngModel)]="customer.email[0]"
        name="email"
        class="form-control"
        id="inputEmail"
        type="text"
        placeholder="Email"
        #email="ngModel"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>cake</mat-icon>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Aniversário"
        [ngModel]="customer.birthday | date: 'yyyy-MM-dd'"
        (ngModelChange)="customer.birthday = $event"
        name="birthday"
        class="form-control pull-right"
        id="inputBirthday"
        type="date"
        #birthday="ngModel"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>assignment_ind</mat-icon>
      <input
        matInput
        placeholder="CPF"
        [(ngModel)]="customer.cpf"
        name="cpf"
        class="form-control"
        id="inputCpf"
        type="text"
        #cpf="ngModel"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>cached</mat-icon>
      <input
        matInput
        placeholder="Periodicidade"
        [(ngModel)]="customer.period"
        name="period"
        class="form-control"
        id="inputPeriod"
        type="number"
        min="0"
        max="100"
        #period="ngModel"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>insert_comment</mat-icon>
      <textarea
        matInput
        placeholder="Notas"
        [(ngModel)]="customer.notes"
        name="notes"
        class="form-control"
        id="inputNotes"
        type="text"
        placeholder="Comentários"
        #notes="ngModel"
        maxlength="800"
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="flex-end">
  <button mat-raised-button color="warn" (click)="close()">
    {{ data.close }}
  </button>
  <button mat-raised-button color="primary" (click)="register()">
    {{ data.ok }}
  </button>
</mat-dialog-actions>
