.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.half {
  width: 50%;
}

.center {
  text-align: center;
  /* margin: auto;
  width: 100%; */
  /* border: 3px solid green; */
  padding: 0.5em;
}

.center button {
  margin: 0.5em;
}

.right {
  text-align: right;
  /* position: absolute;
  right: 0px;
  padding: 10px; */
}

.left {
  text-align: left;
  /* position: absolute;
  left: 0px;
  padding: 10px; */
}

.fill-space {
  /* This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout.*/
  flex: 1 1 auto;
}