.cal-body {
  margin: 0.5em;
}

.title {
  /*border: 1px solid black;*/
  display: flex;
  margin: 1em;
  text-transform: capitalize;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /*align-content: center;*/
  margin: 0 0.5em 0.5em 0.5em;
}

body {
  font-family: 'Roboto Sans';
}
