<div class="cal-body mat-elevation-z8">
  <div class="header">
    <div class="button-group">
      <button
        mat-raised-button color="primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Anterior
      </button>
      <button
        mat-raised-button
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Hoje
      </button>
      <button
        mat-raised-button color="primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Próximo
      </button>
    </div>
    <span class="mat-headline title">{{ viewDate | calendarDate:(view + 'ViewTitle') }}</span>
    <div>
      <button
        mat-raised-button color="primary"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month">
        Mês
      </button>
      <button
        mat-raised-button color="primary"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week">
        Semana
      </button>
      <button
        mat-raised-button color="primary"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day">
        Dia
      </button>
    </div>
  </div>
  <div [ngSwitch]="view" class="mat-body">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (dayClicked)="handleEvent('Clicked', $event.day.date)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>
