.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-top: 8px;
  /* margin-left: 8px; */
  font-size: 1.5em;
  /* text-align: center */
}

.example-toolbar span {
  display: inline;
  vertical-align: middle;
  /* margin: 0 auto; */
}

.example-toolbar img {
  float: left;
  margin-right: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.fill-space {
  /* This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout.*/
  flex: 1 1 auto;
}

.disabled {
  pointer-events:none;
  opacity:0.6;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  /*cursor: auto;*/
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  /*cursor: auto;*/
}
