<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <div [hidden]="!showTemplate">
    <mat-toolbar color="primary" class="example-toolbar">
      <a class="nostyle" routerLink="."><img src="/assets/img/hair-cut.svg" height="40em" width="40em"><h1 class="example-app-name">Tati Hair</h1></a>
      <span class="fill-space"></span>
      <button mat-icon-button (click)="openUserInfo()"><mat-icon>account_circle</mat-icon></button>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
  </div>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" position="end">
      <mat-nav-list>
        <a mat-list-item routerLink="."><i class="material-icons">dashboard</i>Dashboard</a>
        <a mat-list-item routerLink="clientes"><i class="material-icons">contacts</i>Clientes</a>
        <a mat-list-item routerLink="agenda"><i class="material-icons">event</i>Agenda</a>
        <a mat-list-item routerLink="." class="disabled"><i class="material-icons">ballot</i>Estoque</a>
        <a mat-list-item routerLink="." class="disabled"><i class="material-icons">airline_seat_recline_extra</i>Serviços</a>
        <a mat-list-item routerLink="." class="disabled"><i class="material-icons">poll</i>Caixa</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
