<mat-dialog-content>
  <h3 *ngIf="shared.user">{{ shared.user.email }}</h3>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="flex-end">
  <button mat-raised-button color="secondary" (click)="close()">Fechar</button>
  <button mat-raised-button color="primary" (click)="logOut()">Sair</button>
</mat-dialog-actions>
